{% load static %}

<!doctype html>
<html lang="en">

<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta name="description" content="Directors Association">
  <meta name="author" content="Tshiamo Motshabi, QR Air - Innovation Simplified">

  <!-- Favicons -->
  <link rel="icon" href="{% static 'img/favicons/favicon-32x32.png' %}" type="image/png">
  <title>{% block title %}{% endblock %}</title>


  <!-- CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendors/material-icons/material-icons.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'vendors/mono-social-icons/monosocialiconsfont.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'vendors/feather-icons/feather.css' %}" rel="stylesheet" type="text/css">


  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <!-- Head Libs -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>

<body class="body-bg-full profile-page" style="background-image: url(assets/img/site-bg.jpg)">



  <div id="wrapper" class="row wrapper">

    {% block content %}
    {% endblock %}

  </div>


  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"></script>
  <script>
    window.jQuery ||
      document.write(
        '<script src="/docs/4.4/static/js/vendor/jquery.slim.min.js"><\/script>'
      );
  </script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="{% static 'js/material-design.js' %}"></script>
</body>

</html>